<div class="card bg-base-100 shadow max-w-2xl">
  <div class="card-body">
    <div class="flex items-center justify-between mb-4">
      <h2 class="card-title">New Task</h2>
    </div>

    @if (apiErrorMessage()) {
      <app-alert-error [errorMessage]="apiErrorMessage()!"> </app-alert-error>
    }

    <form [formGroup]="taskForm" (ngSubmit)="onSubmit()" class="space-y-4">
      <!-- Title -->
      <div>
        <label class="label">
          <span class="label-text"> Title </span>
        </label>

        <input
          type="text"
          formControlName="title"
          maxlength="200"
          placeholder="Enter title"
          class="input input-bordered w-full"
        />

        <div class="flex justify-between mt-1">
          <p class="text-error text-sm">
            @if (
              taskForm.controls.title.touched &&
              taskForm.controls.title.hasError("required")
            ) {
              <span> Title is required. </span>
            }
          </p>

          <span class="text-xs text-base-content/60">
            {{ taskForm.controls.title.value.length }}/200
          </span>
        </div>
      </div>

      <!-- Description -->
      <div>
        <label class="label">
          <span class="label-text"> Description </span>
        </label>

        <textarea
          formControlName="description"
          class="textarea textarea-bordered w-full"
          maxlength="250"
          placeholder="Enter description"
        ></textarea>

        <div class="flex justify-between mt-1">
          <span class="text-xs text-base-content/60">
            {{ taskForm.controls.description.value.length }}/250
          </span>
        </div>
      </div>

      <!-- User -->
      <div>
        <label class="label">
          <span class="label-text"> User </span>
        </label>

        <app-select-users
          [users]="users()"
          [control]="taskForm.controls.userId"
        >
        </app-select-users>

        <div class="flex justify-between mt-1">
          <p class="text-error text-sm">
            @if (
              taskForm.controls.userId.touched &&
              taskForm.controls.userId.hasError("required")
            ) {
              <span> User is required. </span>
            }
          </p>
        </div>
      </div>

      <div>
        <label class="label">
          <span class="label-text"> Priority </span>
        </label>

        <select
          formControlName="priority"
          class="select select-bordered w-full"
        >
          <option value="Low">Low</option>

          <option value="Medium">Medium</option>

          <option value="High">High</option>
        </select>
      </div>

      <div>
        <label class="label">
          <span class="label-text"> Tags </span>
        </label>

        <input
          type="text"
          formControlName="tags"
          placeholder="backend, urgent"
          class="input input-bordered w-full"
        />
      </div>

      <div>
        <label class="label">
          <span class="label-text"> Estimated Date </span>
        </label>

        <input
          type="date"
          formControlName="estimatedDate"
          class="input input-bordered w-full"
        />
      </div>

      <!-- Actions -->
      <div class="flex justify-end gap-2 pt-4">
        <a type="button" class="btn btn-ghost" routerLink="/tasks"> Cancel </a>

        <button
          type="submit"
          class="btn btn-primary"
          [disabled]="taskForm.invalid || isSubmitting()"
        >
          @if (isSubmitting()) {
            <span class="loading loading-spinner loading-sm"></span>
          } @else {
            <span>Create Task</span>
          }
        </button>
      </div>
    </form>
  </div>
</div>
